body {
  background-color: #212529;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 65%;
}

table {
  background-color: bisque;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-radius: 0.6em;
}



.contacts:hover {
  background-color: bisque;
  cursor: pointer;
}

.contact {
  background-color: #f4fce3;
  width: 65%;
  margin: auto;
  padding: 2em;
  border-radius: 0.6em;
}

