body {
  background-color: #212529;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 65%;
}

table {
  background-color: #f4fce3;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-radius: 0.6em;
}

th {
  font-size: 2.4em;
  padding-bottom: 0.8em;
}

tr {
  height: 2em;
  font-size: 1.4em;
}

.row-titles {
  font-size: 1.8em;
  font-weight: bold;
}

.contacts:hover {
  background-color: #d8f5a2;
  cursor: pointer;
}

.contact {
  background-color: #f4fce3;
  width: 65%;
  margin: auto;
  padding: 2em;
  border-radius: 0.6em;
}

.contact h3 {
  font-size: 3.2em;
}

.contact ul {
  padding: 0;
}

.contact li {
  list-style: none;
  padding-bottom: 1em;
  justify-content: center;
  font-size: 1.4em;
}

.contact button {
  background-color: yellowgreen;
  color: lavender;
  font-size: 1.4em;
}

.contact button:hover {
  background-color: #406809;
}